h1 {
    color: blue;
    font-size: 60%;
    font-family: monospace;
    letter-spacing: 70px;
    line-height: 40px;
}
#game_grid {
	width: 90%;
	height: 80%;
	margin: 0 auto;
    background-color: white;
    color: #fff;
    border: 5% solid white;
    border-radius: 10px;
	float: left;
}