body {
    background: linear-gradient( #77ace0,#3B518A);
    background-image: url("/homeimage.png");
    text-align: left;
    margin: 0% 0% 5% 0%;
    font-family: 'Press Start 2P', cursive;
}
h1 {
    align-items: center;
    text-align: center;
    letter-spacing: 0.015em;
    margin: 1%;
    color: blue;
    font-size: 24pt;
}
#game_grid{
    color: rgba(0, 0, 0, 1);
    font-size: 16pt;
    font-family: monospace !important;
    letter-spacing: 1.1em;
    line-height: 35px;
    width: 100%;
	  height: 90vh;
    margin-bottom: 5%;
    background-color: lightgrey;
    border: 15px solid black;
    border-radius: 15px;
    float: center;
    text-align: center;
    background-image: url("/assets/background2.png");
    background-repeat: no-repeat;
    background-position: 49.5% 37.5%;
    background-size: 420px;
}
img{
  width: 1.65em;
  height: 25px;
  object-fit: contain;
  align: left;
}
.main{
    height: 100vh;
    margin-left: 1.5%;
    width: 95%;
    margin-bottom: 0.5%;
}
p {
    margin: .5%;
    font-size: 12pt;
    color: white;
    line-height: 125%;
    font-family: 'Press Start 2P', cursive;
}
#score{
    margin-left: 10%;
}
#m {
    margin-left: 6%;
}
#bpm {
    margin-left: 4%;
    width: 13%;
}
.button{
    border: 6px solid  #183E61;
    background: none;
    padding: 10px 24px;
    font-size: 200%;
    font-family:"Monofett";
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: black;
	font-weight: bold;
    text-align: center;
    width: 15%;
  }
.button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.button:hover{
    color: #fff;
}
.button:hover::before{
    height: 180%;
}
form {
    margin-top: 1.5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    float: right;

  }
form input {
    vertical-align: middle;
    margin: 5px 8px 5px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 40px;
    font-family:"Monofett";
    width: 10% ;
  }
#p {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}
div[name=black] {
  background-color: black;
  padding: 2%;
  margin: 5%;
  font-family: 'Press Start 2P', cursive;
}
input[type=submit], button{
  background-color: black;
  color: white;
  padding: 2% 2%;
  float: center;
  border-radius: 0px;
  border: 0px;
  margin: 0 5%;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}
input[type=text]{
	font-family: 'Press Start 2P', cursive;
  height: 25px;
}
table, th, td{
  border: 0px;
  width: 75%;
}
th{
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  line-height: 200%;
}
th, td{
  font-size: 11pt;
  font-family: 'Press Start 2P', cursive;
  color: white;
}
#logoutadmin{
    float:right;
    display: inline;
    margin-top: -9%;
}

#logoutnormal, #backstats {
    float: right;
    display: inline;
    margin-top: -6%;
}
