<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tHe ClUb: 404</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div>
    <h1>ERROR 404</h1>
  <p style="text-align: center">The page you were looking for could not be found!</p>
</div>
  <button type="button" id= "stats" style="margin:auto;display:block" onclick="window.location.href = '/club';">RETURN TO FRONT PAGE</button>
  </body>
</html>
