<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ThE ClUb</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  <div>
    <h1>ThE ClUb</h1>
    <p>Delete a user? <%=user.name%> </p>

<form action="/<%=user.name%>/deleted" method="POST">
  <input type="text" placeholder="Username" name="username">
</div>
  <button class="button" type ="submit" onclick="window.location = '/<%=user.name%>/deleted';">DONE</button>
</form>

  </body>
</html>
