<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tHe ClUb: GameRes</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div>
    <h1>GAME RESULTS</h1>
  <p style="text-align: center">WIP</p>
  <ul>
      <li> Player 1: <%= allPlayerScores[0] %> </li>
      <li> Player 2: <%= allPlayerScores[1] %> </li>
      <li> Player 3: <%= allPlayerScores[2] %> </li>
      <li> Player 4: <%= allPlayerScores[3] %> </li>
  </ul>
</div>
  <button type="button" id= "stats" style="margin:auto;display:block" onclick="window.location.href = '/lobby';">RETURN TO FRONT PAGE</button>
  </body>
</html>
