<!DOCTYPE html>

<html>
	<head>
		<title>Club Game Prototype</title>

		<link rel="stylesheet" type="text/css" href="/stylesheets/game.css" />

		<script async type="text/javascript" src="/scripts/game.js"></script> 
	</head>

	<body>
            <div>
                <h1 class ="row" id="game_grid">
                    <div class="top ">############<br></div>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    #<div id= "col1">0000000000</div>#<br>
                    <div class="bottom">############<br>
                    <br></div>
                    <div>------------<br></div>
                    <div>00000||00000<br></div>
                    <div>------------<br></div>
                
                </h1>
            </div>
            <form>
                <input type="number" id="bpm" value='60'/>
                <input type="button" value="change bpm" onclick="change_bpm()" />
                <p>Score:</p>
                <p id="player score">0</p>
                <p>Multiplier:</p>
                <p id="player mult">x1.0</p>
            </form>
	</body>
</html>