<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tHe ClUb: GameRes</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css"><script src="/scripts/socket.io.js"></script>
  </head>
  <body>
    <div>
    <h1>GAME RESULTS</h1>
  <p style="text-align: center">WIP</p>
</div>
  <button type="button" id= "stats" style="margin:auto;display:block" onclick="window.location.href = '/club';">RETURN TO FRONT PAGE</button>
  </body>
</html>
