<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Club</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div name="black">
    <h1>ThE ClUb</h1>
  	<button type="button" id= "logoutnormal" onclick="window.location.href = '/club';">LOG OUT</button>
    <p>Welcome, <%= props.username %>!</p><br>
    <p>Choose SINGLE PLAYER to play by yourself, or MULTIPLAYER to join a multiplayer room and invite your friends.</p>
    <p>Log into Spotify to play music.</p>
    <p>Use WASD on your keyboard to move.</p>
    </div>
    <button type="button" id= "stats" onclick="window.location.href = '/club/<%= props.username %>/stats';">STATS</button>
    <button type="button" id= "leaderboard" onclick="window.location.href = '/club/<%= props.username %>/leaderboard';">LEADERBOARD</button>
    <button type="button" onclick="window.location.href = '/music';">SINGLE PLAYER</button>
    <button type="button" onclick="window.location.href = '/lobby';">MULTIPLAYER</button>
    </div>
  </body>
</html>
