<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <h1>Now Playing: </h1>
      <p> Title: <%= name %> </p>
      <p> Artist: <%= artist %> </p>
      <p> Tempo: <%= tempo %> </p>
      <p> Duration: <%= duration %> </p>
     
  </body>
</html>