<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tHe ClUb</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      const roomName = "<%= roomName %>"
      function openForm(formToShow) {
        let form =['form']
        document.getElementById(form).className = form == formToshow ? '' : 'display';
    }
    document.querySelectorAll("p.error").forEach(ele => {
        ele.className += 'hide';
    })
    function closeForm(formToHide) {
        let form =['form']
      document.getElementById(form).className = form == formToHide ? '' :'none';
    }
    </script>
    <script src="/scripts/socket.io.js"></script>
    <script>
      var socket = io()
      userContainer = document.getElementById('user-container')
      socket.on('user-joined', user => {
        console.log("new user")
      })
      var socket = io.connect();
      var $form =$('.form');
      var $message =$('#message');
      var $chat =$('.chat');
      $message.submit(function(e){
        e.preventDefault();
        socket.emit('send message', $message.val());
        $message.val('');
        console.log("sent");
      });
      socket.on('new message', function(data){
        $chat.append(`<div class= "chatbox" >${data.msg}</div>`);
      })
    </script>
  </head>


  <body>
    <div id="user-container">
    <h1>ThE ClUb</h1>
    <p>Invite players to this room: <%= roomName %></p>
    <h2>Current players in this room:</h2>
      <% Object.keys(users).forEach(user => { %>
      <p><%= user %></p>
      <% }) %>
    <form  class ="form" class="hide">
    </div>
    <form>
    <button class="open-button" onclick="openForm();">Chat</button>
    </form>
    <div id="chatbox">
  
    <form id="message" id="form" >
      <div class = "user-container">
            <h1>Chatbox</h1>
           <label for="msg"><b>Enter message</b></label>
        <textarea placeholder="Type message.." name="msg" required></textarea>
        <button type= "submit" class ="button">Send</button>
        <button type="button" class="cancel" onclick="closeForm()">Close</button>
      </div>
    </div>
  </form>

    </div>
  </form>
  </body>
</html>
