<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tHe ClUb: Songs</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/song.css">
  </head>
  <body>
    <div>
    <h1>ThE ClUb</h1>
	<button type="button" id= "backstats" onclick="window.location.href = '/club/admin/<%= name %>/home';">BACK</button>
  <p align="center">Welcome, <%= name %>! Here you can view all songs</p>
   <table>
      <tr>
	  <th>
   <form type="submit" action="/bad-guy.mp3" method="GET">
  <button class="coverimg"><img src="https://i.redd.it/rz2whkivr5z21.jpg"></button>
  </form>
  </th>

  <th>
   <form type="submit" action="/breathe.mp3" method="GET">
  <button class="coverimg"><img src="https://images.genius.com/e2a4bad4bebd8edb193ba8077ca02303.440x440x1.jpg"></button>
  </form>
  </th>
  </tr>

  <tr>
	  <th>
   <form type="submit" action="/dont-start-now.mp3" method="GET">
  <button class="coverimg"><img src="https://pbs.twimg.com/media/EHo4IkgX0AAiv2z.jpg"></button>
  </form>
  </th>

  <th>
   <form type="submit" action="/how-do-you-sleep.mp3" method="GET">
  <button class="coverimg"><img src="http://cdn.primedia.co.za/primedia-broadcasting/image/upload/c_fill,g_faces,h_400,w_732/mouaipam2nryas0jdcxh"></button>
  </form>
  </th>
  </tr>

  <tr>
	  <th>
   <form type="submit" action="/its-you.mp3" method="GET">
  <button class="coverimg"><img src="https://i.pinimg.com/originals/f8/32/b9/f832b9c999600cffe3646885f13d333e.jpg"></button>
  </form>
  </th>

  <th>
   <form type="submit" action="/slow-dancing-in-the-dark.mp3" method="GET">
  <button class="coverimg"><img src="https://beatsaver.com/cdn/3269/62daf3d23ba79c06d2be37f52555a588f38967b2.jpg"></button>
  </form>
  </th>
  </tr>

  //

  <tr>
	  <th>
   <form type="submit" action="/waving-through-a-window-from-the-dear-evan-hansen-original-broadway-cast-recording.mp3" method="GET">
  <button class="coverimg"><img src="https://m.media-amazon.com/images/I/812bH+Gm9rL._SS500_.jpg"></button>
  </form>
  </th>

  <th>
   <form type="submit" action="/hadestown-original-broadway-cast-way-down-hadestown-ii-lyrics.mp3" method="GET">
  <button class="coverimg"><img src="https://m.media-amazon.com/images/I/81otiSalM+L._SS500_.jpg"></button>
  </form>
  </th>
  </tr>

</div>
  </body>

  <script></script>
</html>